body {
    margin-top: 0;
    margin-right: 0;
    height: auto;
}

.fade-in {
    opacity: 0;
    transform: translateY(10px);
}

a {
    text-decoration: none;
    color: #7e7e7e;
}

.link_a {
    /* color: #666; */
    box-shadow: inset 0 -10px 0 #F5DAAD;
    border-radius: 3px;
}

.link_a:hover {
    color: orange;
    box-shadow: inset 0 -22px 0 rgb(240, 240, 240);
    border-radius: 0;
}

.logo_container img {
	float: left;
    width: 3%;
    top: 8%;
    left: 10%;
	/* height: 100%; */
	/* margin: 10% 0 0 12%; */
	position: fixed;
}

.about_wrapper {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1vw;
    line-height: 150%;
    color: #969696;
    width: 30%;
    top: 25%;
    left: 10%;
    float: left;
    position: fixed;
}

.about_wrapper #name {
    font-family: 'Raleway', sans-serif;
    font-size: 5.5vw;
    font-weight: 700;
    letter-spacing: -2px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    /* margin: 0.5rem; Gives that scrolling effect as the typing happens */
    animation: 
      typing 2s steps(30, end),
      blink-caret .5s step-end infinite;
}
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

.scrolldown {
    position: fixed;
    margin-left: 10%;
    bottom: 2rem;
}

#circle--shape {
    animation: animateShape 1.6s ease-in-out infinite;
}
  
  
  @keyframes animateShape {
    50% { cy: 80; opacity: .1 }
  }
  
    
  @keyframes animateHeight {
    50% { height: 105px }
}

#profile_pic img{
    float: right;
    height: 100vh;
    max-width: 50%;
    top: 0;
    margin: 0;
}

.socialmedia {
    position: fixed;
    margin-left: 10%;
    bottom: 2rem;
}

.socialmedia a {
	text-decoration: none;
	outline: none;
	border: 0;
}

.socialmedia a svg {
	fill: #a6a6a9;
	stroke: #000;
	stroke-width: 10;
	stroke-opacity: 0;
}

.socialmedia a svg #gmail:hover {
	fill: #D14836;
}

.socialmedia a svg #linkedin:hover {
	fill: #0077B5;
}

.socialmedia a svg #github:hover {
	fill: #181717;
	stroke-width: 10;
}

.socialmedia a svg #instagram:hover {
	fill: #E4405F;
	stroke-width: 10;
}


.socialmedia a svg path,
.socialmedia a svg path:after,
.socialmedia a svg path:before {
    transition: all .3s;
}